/* index.css */

/* Center container */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center text */
h1 {
  text-align: center;
}

/* Style for the table */
.table-container {
  margin-top: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed; /* Make table layout fixed */
}

/* Style for table header */
thead th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

/* Style for table rows */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for table data cells */
td {
  padding: 8px;
  vertical-align: middle;
  width: 25%; /* Set fixed width for columns */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Display ellipsis for overflow content */
}

/* Style for buttons in ContactListPage*/
button {
  margin-right: 8px;
  padding: 10px 10px;
  cursor: pointer;
  color: white;
}

/* Style for view button */
.view-btn {
  background-color: #007bff;
  color: white;
  border: none;
}

/* Style for edit button */
.edit-btn {
  background-color: orange;
  color: white;
  border: none;
}

/* Style for delete button */
.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
}

/* Style for create button */
.create-btn {
  background-color: #28a745;
  color: white;
  border: none;
}

/* AddContactPage & EditContactPage.css */

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 600px; /* Set the width to 80% of the available space */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  margin-right: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px; /* Add padding to the button */
}

.submit-button{
  margin: 0 10px;
  background-color:green;
  border: none;
}
.cancel-button {
  margin: 0 10px;
  background-color: red;
  border: none;
}

.close-button {
  margin: 0 10px;
  background-color: red;
  border: none;
}

.header-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  padding: 20px 10px;
}

.search-field {
  
}